<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>Students</title>
</head>

<body>
    <main>
        <h2>Students list</h2>

        <% if (students.length>0) { %>
            <ul>
                <% students.forEach(student => { %>
                    <li>
                        <%= student.id %>:<%= student.name %> <%= student.age %> <%= student.major %>


                        <form action="/students/<%= student.id %>?_method=PUT" method="post">
                            <input type="text" name="name" placeholder="New Name">
                            <input type="number" name="age" placeholder="New Age">
                            <input type="text" name="major" placeholder="New Major">
                            <button type="submit">Update</button>
                        </form>
                        <form action="/students/<%= student.id %>?_method=DELETE" method="post">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                <% }) %>
            </ul>
        <% } else { %>
            <p>No students</p>
        <% } %>


        <h2>Add a student</h2>
        <form action="/students" method="post">
            <input type="text" name="name" placeholder="Enter name">
            <input type="number" name="age" placeholder="Enter age">
            <input type="text" name="major" placeholder="Enter major">
            <button type="submit">Add</button>
        </form>
    </main>
</body>

</html>